# use vendored cargo installed utilities
PATH_add .cargo-installed/bin

# esp toolchain stuff
PATH_add ~/.rustup/toolchains/esp/xtensa-esp-elf/esp-13.2.0_20230928/xtensa-esp-elf/bin
export LIBCLANG_PATH=~/.rustup/toolchains/esp/xtensa-esp32-elf-clang/esp-16.0.4-20231113/esp-clang/lib

# fixup issue related to compiling libgit2 with macports-installed iconv
export CFLAGS=-I/opt/local/include/iconv